# Mac OS hidden files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# exclude everything
/driver/chromedriver

# exception to the rule
!/driver/.gitkeep 

# Csv export
*.csv

# Screenshots
screenshot_error.png
screenshot_closing.png